#mainheader{
    width: 1100px;
    height: 50 px;
    text-align: center;
    margin: 20 px;
    background-color: royalblue;
}
#firstheader {
    height: 60px;
    width: 540px;
    background-color: violet;
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 8px; 
    margin-top: 20px;
}
#secondheader{ 
    height: 60px;
    width: 540px;
    background-color: violet;
display: inline-block; 
margin-bottom: 30px;
margin-left: 8px;
margin-top: 20px;
}
#wrapper{
width: 1100px;
text-align: center;
margin: auto;
}
#menu{
    width: 1100px;
    height: 290px;
    background-color: gray;
}
.content1{
    display: inline-block;
    width: 360px;
    height: 170px;
    margin-top: 25px;
    margin-bottom: 25px;
   margin-right: 4px;
   margin-right: 4px;
   padding-bottom: 10px;
  background-color: greenyellow;
}

li{
display : inline-block;
 width : 265px;
height: 190px;
margin-top: 10px;
    margin-bottom: 25px;
   margin-right: 7px;
background: #E76D13;
text-align: center;
padding-top: 10px;

               
}
