#wrapper{
    width: 700px;
   height: 700px;
   border: 4px double black;
    text-align: center;
    
}
#first{
    width: 400px;
    height: 400px;
    background: rgb(216, 25, 25);
    position: absolute;
}
#second{
    height: 400px;
    background-color: rgb(36, 226, 77);
    position: relative;
    left: 300px; 
    top: 300px; 
    width: 400px; 
}
#third{
    height: 400px;
    background: rgb(29, 47, 209);
    position: absolute;
    left: 150px; 
    top: 150px; 
    width: 400px; 
}
